
{% extends "base.html" %}

{% block title %} {{ players[0].id }} vs. {{ players[1].id }} {{ super() }}{% endblock %}


{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="Player1" src="{{ players[0].imgurl }}" />
						<div class="caption">
							<h3>
								{{ players[0].id }}
								<span class="badge">{{ players[1].score }}</span>
							</h3>
							<p>
								<a class="btn btn-primary btn-lg btn-block" href="#">Vote</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img  alt="Player2" src="{{ players[1].imgurl }}" />
						<div class="caption">
							<h3>
								{{ players[1].id }}
								<span class="badge">{{ players[1].score }}</span>
							</h3>
							<p>
								<a class="btn btn-primary btn-lg btn-block" href="#">Vote</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}