
{% extends "base.html" %}

{% block title %} {{ player.name }} {{ super() }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				{{ player.name }}
			</h3>
			<div class="row clearfix">
				<div class="col-md-8 column">
					<div class="thumbnail">
						<img class="img-rounded" alt="{{ player.name }}" src="{{ player.image }}" />
					</div>
				</div>
				<div class="col-md-4 column">
					<table class="table">
						<thead>
							<h3>stats</h3>
						</thead>
						<tbody>
							<tr>
								<td>
									score
								</td>
								<td>
									{{ player.score }}
								</td>
							</tr>
							<tr>
								<td>
									matches
								</td>
								<td>
									{{ player.matches }}
								</td>
							</tr>
							<tr>
								<td>
									wins
								</td>
								<td>
									{{ player.wins }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}